body {
background-image: url(http://www.astrokit.org/static/imageflow/build/css/images/temp/intro-bg.png);
background-repeat:no-repeat; 
background-size: cover;
}
.header{
margin-bottom: 80px;

}
.zagolovok {
padding: 50px 30px 15px 240px;
line-height: 1.8;
font-family: Helvetica;
font-weight: 560;

}

.text1{
padding: 0px 30px 15px 240px;
font-size:19pt;	
line-height: 0.25;
color:#808080;
font-family: Helvetica;
font-weight: 500;


}
.meteorBIG{
padding-left: 1000px;
position:relative;
top:-210px;

}
.text2{
padding: 0px 30px 15px 240px;
font-family: Helvetica;
line-height: 0.25;
margin-top: -410px;	
font-weight: 500;
color:#696969;
font-size: 14pt;
}
.meteorSMALL{
padding-left: 1410px;
position:relative;
top:-200px;
}
.vkladka1{
padding-left: 1200px;
position:relative;
top:-615px;
font-size: 15px;
}
.vkladka2{
padding-left: 1400px;
position:relative;
top:-633px;
font-size: 15px;
color:#696969;	
}
.vkladka3{
padding-left: 1560px;
position:relative;
top:-651px;
font-size: 15px;
color:#696969;		
}
.startnow{
position: relative;
width: 300px;
height: 200px;
}
.fon{
background: #808080;
filter: alpha(opacity=60);
opacity: 0.15;
position: absolute;
height: 35%;
width: 65%;
margin-top: -140px;
margin-left: 240px;
}
.fontext{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 280px;
margin-top:-115px;

}
.fontext2{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 343px;
margin-top:-115px;	
}
.fontext3{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 480px;
margin-top:-315px;
}
.nasa{
margin-left: 240px;
margin-top: -150px;
}