body {
background-image:url(Kartinki/FON1.jpeg);
 
background-size: 100%;


}
.header{
bottom: 80px;
width: 500px;

}
.zagolovok {
padding: 50px 30px 15px 240px;
line-height: 1.8;
font-family: Helvetica;
font-weight: 560;
width: 30%;

}

.text1{
width: 500px;
padding: 0px 30px 15px 240px;
font-size:19pt;	
line-height: 0.25;
color:#808080;
font-family: Helvetica;
font-weight: 500;


}
.meteorBIG{ 
position: absolute;
padding-left: 1000px;
display:table-cell;
height: 1px;
top:210px;
width: 0px;
}
.text2{
padding-left:240px;
font-family: Helvetica;
line-height: 0.25;
bottom:520px;	
font-weight: 500;
color:#696969;
font-size: 14pt;
opacity: 0.70;
}
.meteorSMALL{
height: 0px;
position: absolute;
margin-left: 1410px;
margin-top:-90px;
}
.vkladka1{
position: absolute;
margin-left: 1200px;
top:33px;
font-size: 15px;
}
.vkladka1:hover{
position: absolute;
margin-left: 1200px;
top:33px;
font-size: 15px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}

.vkladka2{ 
position: absolute;
margin-left: 1400px;
top:33px;
font-size: 15px;
color:#696969;	
	
}
.vkladka2:hover{ 
position: absolute;
margin-left: 1400px;
top:33px;
font-size: 15px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
	
}
.vkladka3{
position: absolute;
margin-left: 1560px;
top:33px;
font-size: 15px;
color:#696969;		
}
.vkladka3:hover{
position: absolute;
margin-left: 1560px;
top:33px;
font-size: 15px;
color:#CD853F;

transition: 0.3s;
opacity: 0.5;		
}
.startnow{
position: absolute;
width: 300px;
height: 200px;
}
.fon{
position: absolute;
background: #808080;
filter: alpha(opacity=60);
opacity: 0.15;
height: 35%;
width: 65%;
margin-top: 80px;
margin-left: 240px;
}
.fontext{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 280px;
margin-top:105px;
width: 110px;
}
.fontext:hover{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 280px;
margin-top:105px;
width: 110px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}	
.fontext3{ 
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 480px;
margin-top:105px;
}
.fontext3:hover{ 
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 480px;
margin-top:105px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}
.nasa{
position: absolute;
margin-left: 240px;
margin-top: 350px;
}
.almaz{
position: absolute;
margin-top:680px;
margin-left: 150px;
width: 60px;

}
.wia{
position: absolute;
font-family: Helvetica;
font-weight: 560;
width: 30%;
margin-left: 240px;
margin-top: 680px;

}
.wia1{
font-size:19pt;	
font-family: Helvetica;
font-weight: 500;
width: 450px;
margin-left: 240px;
margin-top: 740px;
position: absolute;
opacity: 0.30;
}
.wia2{
position: absolute;
margin-left:240px;
font-family: Helvetica;	
font-weight: 500;
color:#696969;
font-size: 14pt;
width: 400px;
margin-top:880px;
opacity: 0.50;
}
.linia{
border:1px double white;
position: absolute;
margin-top:500px;
width: 1365px;
margin-left:300px;
opacity: 0.15;
}
.wia3{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
width: 200px;
margin-top:1020px;
margin-left: 240px;
}
.wia3:hover{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
width: 200px;
margin-top:1020px;
margin-left: 240px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}
.tuman{
position: absolute;
margin-left: 850px;
margin-top:550px;
}
.tuman1{
position: absolute;
margin-left: 800px;
margin-top:580px;
}
.rasvet{
position: absolute;
margin-left: 1150px;
margin-top:1100px;
}