body {
background-image:url(/Users/rogest/Desktop/FON1.jpeg);
 
background-size: 100%;


}
.header{
bottom: 80px;
width: 500px;

}
.zagolovok {
padding: 50px 30px 15px 240px;
line-height: 1.8;
font-family: Helvetica;
font-weight: 560;
width: 600px;
}

.text1{
width: 500px;
padding: 0px 30px 15px 240px;
font-size:19pt;	
line-height: 0.25;
color:#808080;
font-family: Helvetica;
font-weight: 500;


}
.meteorBIG{
position: absolute;
padding-left: 1000px;
display:table-cell;
height: 100px;
top:210px;
width: 0%;
}
.text2{
padding-left:240px;
font-family: Helvetica;
line-height: 0.25;
bottom:520px;	
font-weight: 500;
color:#696969;
font-size: 14pt;
}
.meteorSMALL{
height: 0px;
position: absolute;
padding-left: 1410px;
margin-top:-90px;
}
.vkladka1{
position: absolute;
padding-left: 1200px;
top:33px;
font-size: 15px;
}

.vkladka2{
position: absolute;
padding-left: 1400px;
top:33px;
font-size: 15px;
color:#696969;	
height: 1px;
}
.vkladka3{
position: absolute;
padding-left: 1560px;
top:33px;
height: 1px;

font-size: 15px;
color:#696969;		
}
.startnow{
position: absolute;
width: 300px;
height: 200px;
}
.fon{
position: absolute;
background: #808080;
filter: alpha(opacity=60);
opacity: 0.15;
height: 35%;
width: 65%;
margin-top: 80px;
margin-left: 240px;
}
.fontext{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 280px;
margin-top:105px;

}
.fontext2{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 343px;
margin-top:105px;	
}
.fontext3{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 480px;
margin-top:105px;
}
.nasa{
position: absolute;
margin-left: 240px;
margin-top: 350px;
}
.almaz{
margin-top:680px;
margin-left: 110px;

width: 100%;
height: 1000px;

}
