body {
background: url(https://images.wallpaperscraft.ru/image/zvezdnoe_nebo_galaktika_vselennaya_nebo_noch_118591_1920x1200.jpg);

}
.header{
	background-color: black;

}
.zagolovok {
padding: 50px 30px 15px 120px;


}