body {
background-image:url(Kartinki/FON11.jpg);
 
background-size: 100%;


}
.header{
}
.zagolovok {
margin-left:14%;
line-height: 1.8;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 40%;

}

.text1{
width: 60%;
margin-left:14%;
font-size:40px;	
line-height: 0.25;
color:#808080;
font-weight: 500;
}
.meteorBIG{
position: absolute;
margin-left: 60%;
display:table-cell;
top:210px;
}
.meteorBIG:hover{
transform: scale(1.3);
transition: 0.5s;
}
.text2{
font-family: 'Poppins', sans-serif;
margin-left:14%;
line-height: 0.25;		
font-weight: 500;
color:#696969;
font-size: 30px;
opacity: 0.70;
width: 50%;
}
.meteorSMALL{
position: absolute;
margin-left: 85%;
margin-top:-7%;
}
.meteorSMALL:hover{
transform: scale(1.45);
transition: 0.5s;
}
.vkladka1{
position: absolute;
margin-left: 70%;
top:3%;
font-size: 15px;
}
.vkladka1:hover{
position: absolute;
margin-left: 70%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;
}
.vkladka2{ 
position: absolute;
margin-left: 82%;
top:3%;
font-size: 15px;	
}
.vkladka2:hover{ 
position: absolute;
margin-left: 82%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;
}
.vkladka3{
position: absolute;
margin-left: 92%;
top:3%;
font-size: 15px;		
}
.vkladka3:hover{
position: absolute;
margin-left: 92%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;		
}
.startnow{
position: absolute;
width: 300px;
height: 200px;
}
.fon{
position: absolute;
opacity: 0.15;
height: 35%;
width: 65%;
margin-top: 27%;
margin-left: 79%;

}
.fon:hover{
position: absolute;
opacity: 0.3;
height: 35%;
width: 65%;
margin-top: 27%;
margin-left: 79%;
transition: 0.4s;
background-color: #CD853F;
cursor: pointer;
}
.fontext{
position: absolute;
font-size: 19px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 93%;
margin-top:34%;
width: 110px;
}
.fontext3{ 
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 30%;
margin-top:5.25%;
}
.fontext3:hover{ 
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 30%;
margin-top:5.25%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.nasa{
position: absolute;
margin-left: 14%;
margin-top: 20%;
}
.almaz{
position: absolute;
margin-top:50%;
margin-left: 5%;

}
.wia{
position: absolute;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 50%;
margin-left: 11%;
margin-top: 49.5%;

}
.wia1{
font-size:28px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-left: 14%;
margin-top: 54%;
width: 33%;
position: absolute;
opacity: 0.40;
}
.wia2{
position: absolute;
margin-left:14%;
font-family: 'Poppins', sans-serif;	
font-weight: 500;
color:#696969;
font-size: 16pt;
margin-top:61%;
width: 33%;
opacity: 0.50;
}
.linia{
border:1px double white;
position: absolute;
margin-top:31%;
width: 79%;
margin-left:20%;
opacity: 0.15;
}
.wia3{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:70%;
margin-left: 11%;
width: 10%;
}
.wia3:hover{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:70%;
margin-left: 11%;
width: 10%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.tuman{
position: absolute;
margin-left: 53%;
margin-top:40%;

}
.tuman:hover{
transform: scale(1.3);
transition: 0.5s;
}
.tuman1{
position: absolute;
margin-left: 50%;
margin-top:43%;
}
.tuman1:hover{
transform: scale(1.2);
transition: 0.5s;
}
.rasvet{
position: absolute;
margin-left: 73%;
margin-top:70%;
}	
.rasvet:hover{
transform: scale(1.3);
transition: 0.5s;
}	
.boruto{
position: absolute;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 70%;
margin-left: 14%;
margin-top: 105%;
}
.boruto11{
font-size:32px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
width: 45%;
margin-left: 17%;
margin-top: 110%;
position: absolute;
opacity: 0.70;
}
.boruto3{
position: absolute;
margin-left:17%;
font-family: 'Poppins', sans-serif;	
font-weight: 500;
opacity:0.4;
font-size: 27px;
width: 39%;
margin-top:115%;

}
.FakeApolo{
position: absolute;
margin-left: 14%;
margin-top:130%;
width: 190px;
height:70px;
background: #808080;
filter: alpha(opacity=60);
opacity: 0.15;

}
.FakeApolo:hover{
position: absolute;
margin-left: 14%;
margin-top:130%;
width: 190px;
height:70px;
background: #191970;
filter: alpha(opacity=60);
opacity: 0.3;
transition: 0.3s;
cursor: pointer;
}
.startApolo{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 14%;
margin-top:129.8%;
width: 190px;
height:70px;
text-align: center;
vertical-align: center;
line-height: 85px;  
}

.sakura{
margin-top:144%;
margin-left: 3%;
width: 65%;
height: 1350px;
}
.sakura:hover img {
     -webkit-animation-name: spin;
    -webkit-animation-duration: 4500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
 
    animation-name: spin;
    animation-duration: 4500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
   
.kitkat{position: absolute;
margin-left:6% ;
top:290%;

}
.snikers{
font-size:28px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-left:8% ;
top:297% ;
width: 30%;
position: absolute;
opacity: 0.40;
}
.twix{
position: absolute;
font-size: 21px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
top:309%;
margin-left:7%;
width: 10%;
}
.twix:hover{
position: absolute;
font-size: 21px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
top:309%;
margin-left:7% ;
width: 10%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.x1{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:45% ;
top:308% ;
}
.x1a{
position: absolute;
margin-left:45% ;
top:308%; 
width: 110px;
height:24px;
}
.x1a:hover{
position: absolute;
margin-left:45% ;
top:308%;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.x2{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:60% ;
top:335% ;
}
.x2a{
position: absolute;
margin-left:60% ;
top:335% ;
width: 100px;
height:24px;
}
.x2a:hover{
position: absolute;
margin-left:60% ;
top:335% ;
cursor: pointer;
opacity: 0.5;
background-color: black;
}
.x3{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:47% ;
top:375% ;
}
.x3a{
position: absolute;
margin-left:47% ;
top:375% ;
width: 130px;
height:24px;
}
.x3a:hover{
position: absolute;
margin-left:47% ;
top:375% ;
cursor: pointer;
opacity: 0.5;
background-color: black;
}
.x4{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:21% ;
top:385% ;
}
.x4a{
position: absolute;
margin-left:21% ;
top:385% ;
width: 130px;
height:24px;

}
.x4a:hover{
position: absolute;
margin-left:21% ;
top:385% ;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.x5{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:5% ;
top:340% ;
}
.x5a{
position: absolute;
margin-left:5% ;
top:340% ;
width: 130px;
height:24px;

}
.x5a:hover{
position: absolute;
margin-left:5% ;
top:340% ;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.grid{
display:grid;
position: absolute;
font-family: 'Poppins', sans-serif;
font-size:20px;
width: 13%;
height: 1050px;
margin-left:78%;
top:3400px;
}
.y2{
height: 1px;
background-color: white;
opacity: 0.2;

}
.y3{
height: 2px;
opacity: 0.7;
background-color: orange;
}
.krid{
display: grid;
position: absolute;
font-family: 'Poppins', sans-serif;
width: 28%;
height: 350px;
margin-left: 13%;
margin-top:100px;
}
.k2{
opacity: 0.7;
}
.k3{
opacity: 0.45;
}
.neEND{
font-family: 'Poppins', sans-serif;
position: absolute;
margin-left:85%;
margin-top:400px;
font-size: 20px;
}
.realEND{
font-family: 'Poppins', sans-serif;
position: absolute;
margin-left:30%;
margin-top:390px;
font-size: 19px;
opacity: 0.4;
}
