body {
background-image:url(Kartinki/FON11.jpg);
 
background-size: 100%;


}
.header{
}
.zagolovok {
font-family: 'Yeon Sung', cursive;
margin-left:14%;
line-height: 1.8;
font-weight: 560;
width: 40%;

}

.text1{
width: 60%;
margin-left:14%;
font-size:40px;	
line-height: 0.25;
color:#808080;
font-weight: 500;
}
.meteorBIG{
position: absolute;
margin-left: 60%;
display:table-cell;
top:210px;
}
.meteorBIG:hover{
transform: scale(1.3);
transition: 0.5s;
}
.text2{
margin-left:14%;
line-height: 0.25;		
font-weight: 500;
color:#696969;
font-size: 30px;
opacity: 0.70;
width: 50%;
}
.meteorSMALL{
position: absolute;
margin-left: 85%;
margin-top:-7%;
}
.meteorSMALL:hover{
transform: scale(1.45);
transition: 0.5s;
}
.vkladka1{
position: absolute;
margin-left: 70%;
top:3%;
font-size: 15px;
}
.vkladka1:hover{
position: absolute;
margin-left: 70%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;
}
.vkladka2{ 
position: absolute;
margin-left: 82%;
top:3%;
font-size: 15px;	
}
.vkladka2:hover{ 
position: absolute;
margin-left: 82%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;
}
.vkladka3{
position: absolute;
margin-left: 92%;
top:3%;
font-size: 15px;		
}
.vkladka3:hover{
position: absolute;
margin-left: 92%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;		
}
.startnow{
position: absolute;
width: 300px;
height: 200px;
}
.fon{
position: absolute;
opacity: 0.15;
height: 35%;
width: 65%;
margin-top: 27%;
margin-left: 79%;

}
.fon:hover{
position: absolute;
opacity: 0.3;
height: 35%;
width: 65%;
margin-top: 27%;
margin-left: 79%;
transition: 0.4s;
background-color: #CD853F;
cursor: pointer;
}
.fontext{
position: absolute;
font-size: 19px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 93%;
margin-top:34%;
width: 110px;
}
.fontext3{ 
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 30%;
margin-top:5.25%;
}
.fontext3:hover{ 
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 30%;
margin-top:5.25%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.nasa{
position: absolute;
margin-left: 14%;
margin-top: 20%;
}
.box2-1{
position: absolute;
margin-top:50%;
margin-left: 5%;

}
.box2-2{
position: absolute;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 50%;
margin-left: 11%;
margin-top: 49.5%;

}
.box2-3{
font-size:28px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-left: 14%;
margin-top: 54%;
width: 33%;
position: absolute;
opacity: 0.40;
}
.box2-4{
position: absolute;
margin-left:14%;
font-family: 'Poppins', sans-serif;	
font-weight: 500;
color:#696969;
font-size: 16pt;
margin-top:61%;
width: 33%;
opacity: 0.50;
}
.linia{
border:1px double white;
position: absolute;
margin-top:31%;
width: 79%;
margin-left:20%;
opacity: 0.15;
}
.box2-5{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:70%;
margin-left: 11%;
width: 10%;
}
.box2-5:hover{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:70%;
margin-left: 11%;
width: 10%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.tuman{
position: absolute;
margin-left: 53%;
margin-top:40%;

}
.tuman:hover{
transform: scale(1.3);
transition: 0.5s;
}
.vulcan{
position: absolute;
margin-left: 50%;
margin-top:43%;
}
.vulcan:hover{
transform: scale(1.2);
transition: 0.5s;
}
.rasvet{
position: absolute;
margin-left: 73%;
margin-top:70%;
}	
.rasvet:hover{
transform: scale(1.3);
transition: 0.5s;
}	
.box3-1{
position: absolute;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 70%;
margin-left: 14%;
margin-top: 105%;
}
.box3-2{
font-size:32px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
width: 45%;
margin-left: 17%;
margin-top: 110%;
position: absolute;
opacity: 0.70;
}
.box3-3{
position: absolute;
margin-left:17%;
font-family: 'Poppins', sans-serif;	
font-weight: 500;
opacity:0.4;
font-size: 27px;
width: 39%;
margin-top:115%;

}
.box3-4hover{
position: absolute;
margin-left: 14%;
margin-top:130%;
width: 190px;
height:70px;
background: #808080;
filter: alpha(opacity=60);
opacity: 0.15;

}
.box3-4hover:hover{
position: absolute;
margin-left: 14%;
margin-top:130%;
width: 190px;
height:70px;
background: #191970;
filter: alpha(opacity=60);
opacity: 0.3;
transition: 0.3s;
cursor: pointer;
}
.box3-4{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 14%;
margin-top:129.8%;
width: 190px;
height:70px;
text-align: center;
vertical-align: center;
line-height: 85px;  
}

.circles{
margin-top:2820px;
margin-left: 3%;
width: 65%;
height: 1350px;
}
.circles:hover img {
     -webkit-animation-name: spin;
    -webkit-animation-duration: 6500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 6500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 6500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
 
    animation-name: spin;
    animation-duration: 6500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
   
.circlestx1{position: absolute;
margin-left:6% ;
top:3455px;

}
.circlestx2{
font-size:28px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-left:8% ;
top:3520px ;
width: 30%;
position: absolute;
opacity: 0.40;
}
.circlestx3{
position: absolute;
font-size: 21px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
top:3670px;
margin-left:7%;
width: 10%;
}
.circlestx3:hover{
position: absolute;
font-size: 21px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
top:3670px;
margin-left:7% ;
width: 10%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.cx1{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:45% ;
top:3630px ;
}
.cx1hover{
position: absolute;
margin-left:45% ;
top:3630px; 
width: 110px;
height:24px;
}
.cx1hover:hover{
position: absolute;
margin-left:45% ;
top:3630px;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.cx2{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:60% ;
top:4030px ;
}
.cx2hover{
position: absolute;
margin-left:60% ;
top:4030px ;
width: 100px;
height:24px;
}
.cx2hover:hover{
position: absolute;
margin-left:60% ;
top:4030px ;
cursor: pointer;
opacity: 0.5;
background-color: black;
}
.cx3{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:47% ;
top:4430px ;
}
.cx3hover{
position: absolute;
margin-left:47% ;
top:4430px ;
width: 130px;
height:24px;
}
.cx3hover:hover{
position: absolute;
margin-left:47% ;
top:4430px ;
cursor: pointer;
opacity: 0.5;
background-color: black;
}
.cx4{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:21% ;
top:4530px ;
}
.cx4hover{
position: absolute;
margin-left:21% ;
top:4530px ;
width: 130px;
height:24px;

}
.cx4hover:hover{
position: absolute;
margin-left:21% ;
top:4530px ;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.cx5{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:5% ;
top:3980px ;
}
.cx5hover{
position: absolute;
margin-left:5% ;
top:3980px;
width: 130px;
height:24px;

}
.cx5hover:hover{
position: absolute;
margin-left:5% ;
top:3980px;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.grid{
display:grid;
position: absolute;
font-family: 'Poppins', sans-serif;
font-size:20px;
width: 13%;
height: 1050px;
margin-left:78%;
top:3530px;
}
.gr2{
height: 1px;
background-color: white;
opacity: 0.2;

}
.gr3{
height: 2px;
opacity: 0.7;
background-color: orange;
}
.krid{
display: grid;
position: absolute;
font-family: 'Poppins', sans-serif;
width: 28%;
height: 350px;
margin-left: 13%;
margin-top:100px;
}
.kr2{
opacity: 0.7;
}
.kr3{
opacity: 0.45;
}
.DATA{
font-family: 'Poppins', sans-serif;
position: absolute;
margin-left:85%;
margin-top:400px;
font-size: 20px;
}
.box5H{
font-family: 'Poppins', sans-serif;
position: absolute;
margin-left:30%;
margin-top:390px;
font-size: 19px;
opacity: 0.4;
}
.ctx1a,
input[type="checkbox"] {
  display: none;
  position: absolute;
font-family: 'Poppins', sans-serif;
width: 28%;
height: 350px;
margin-left: 45%;
top:3670px;
opacity: 0.7;	

}

input[type="checkbox"]:checked ~ .ctx1a {
  display: block;
}

