body {
background-image:url(Kartinki/FON11.jpg);
 
background-size: 100%;


}
.header{
}
.zagolovok {
margin-left:14%;
line-height: 1.8;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 40%;

}

.text1{
width: 60%;
margin-left:14%;
font-size:40px;	
line-height: 0.25;
color:#808080;
font-weight: 500;
}
.meteorBIG{
position: absolute;
margin-left: 60%;
display:table-cell;
top:210px;
}
.text2{
font-family: 'Poppins', sans-serif;
margin-left:14%;
line-height: 0.25;		
font-weight: 500;
color:#696969;
font-size: 30px;
opacity: 0.70;
width: 50%;
}
.meteorSMALL{
position: absolute;
margin-left: 85%;
margin-top:-7%;
}
.vkladka1{
position: absolute;
margin-left: 70%;
top:3%;
font-size: 15px;
}
.vkladka1:hover{
position: absolute;
margin-left: 70%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;
}
.vkladka2{ 
position: absolute;
margin-left: 82%;
top:3%;
font-size: 15px;	
}
.vkladka2:hover{ 
position: absolute;
margin-left: 82%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;
}
.vkladka3{
position: absolute;
margin-left: 92%;
top:3%;
font-size: 15px;		
}
.vkladka3:hover{
position: absolute;
margin-left: 92%;
top:3%;
font-size: 15px;
color:#CD853F;
transition: 0.1s;
opacity: 0.5;
cursor: pointer;		
}
.startnow{
position: absolute;
width: 300px;
height: 200px;
}
.fon{
position: absolute;
opacity: 0.15;
height: 35%;
width: 65%;
margin-top: 27%;
margin-left: 79%;

}
.fon:hover{
position: absolute;
opacity: 0.3;
height: 35%;
width: 65%;
margin-top: 27%;
margin-left: 79%;
transition: 0.4s;
background-color: #CD853F;
cursor: pointer;
}
.fontext{
position: absolute;
font-size: 19px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 93%;
margin-top:34%;
width: 110px;
}
.fontext3{ 
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 30%;
margin-top:5.25%;
}
.fontext3:hover{ 
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 30%;
margin-top:5.25%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.nasa{
position: absolute;
margin-left: 14%;
margin-top: 20%;
}
.almaz{
position: absolute;
margin-top:50%;
margin-left: 5%;

}
.wia{
position: absolute;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 50%;
margin-left: 11%;
margin-top: 49.5%;

}
.wia1{
font-size:28px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-left: 14%;
margin-top: 54%;
width: 33%;
position: absolute;
opacity: 0.40;
}
.wia2{
position: absolute;
margin-left:14%;
font-family: 'Poppins', sans-serif;	
font-weight: 500;
color:#696969;
font-size: 16pt;
margin-top:61%;
width: 33%;
opacity: 0.50;
}
.linia{
border:1px double white;
position: absolute;
margin-top:31%;
width: 79%;
margin-left:20%;
opacity: 0.15;
}
.wia3{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:70%;
margin-left: 11%;
width: 10%;
}
.wia3:hover{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:70%;
margin-left: 11%;
width: 10%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.tuman{
position: absolute;
margin-left: 53%;
margin-top:40%;

}
.tuman1{
position: absolute;
margin-left: 50%;
margin-top:43%;
}
.rasvet{
position: absolute;
margin-left: 73%;
margin-top:70%;
}	
.boruto{
position: absolute;
font-family: 'Poppins', sans-serif;
font-weight: 560;
width: 70%;
margin-left: 14%;
margin-top: 105%;
}
.boruto11{
font-size:32px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
width: 45%;
margin-left: 17%;
margin-top: 110%;
position: absolute;
opacity: 0.70;
}
.boruto3{
position: absolute;
margin-left:17%;
font-family: 'Poppins', sans-serif;	
font-weight: 500;
opacity:0.4;
font-size: 27px;
width: 39%;
margin-top:115%;

}
.FakeApolo{
position: absolute;
margin-left: 14%;
margin-top:130%;
width: 190px;
height:70px;
background: #808080;
filter: alpha(opacity=60);
opacity: 0.15;

}
.FakeApolo:hover{
position: absolute;
margin-left: 14%;
margin-top:130%;
width: 190px;
height:70px;
background: #191970;
filter: alpha(opacity=60);
opacity: 0.3;
transition: 0.3s;
cursor: pointer;
}
.startApolo{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-left: 14%;
margin-top:129.8%;
width: 190px;
height:70px;
text-align: center;
vertical-align: center;
line-height: 85px;  
}

.sakura{
margin-top:144%;
margin-left: 10%;
}
.kitkat{
position: absolute;
margin-left:11% ;
margin-top: 150%;

}
.snikers{
font-size:28px;	
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-left:14% ;
margin-top:154% ;
width: 30%;
position: absolute;
opacity: 0.40;
}
.twix{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:162%;
margin-left:12%;
width: 10%;
}
.twix:hover{
position: absolute;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400px;
margin-top:162%;
margin-left:12% ;
width: 10%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
cursor: pointer;
}
.x1{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:45% ;
margin-top:160% ;
}
.x1a{
position: absolute;
margin-left:45% ;
margin-top:160% ;
width: 110px;
height:20px;
}
.x1a:hover{
position: absolute;
margin-left:45% ;
margin-top:160% ;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.x2{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:60% ;
margin-top:175% ;
}
.x2a{
position: absolute;
margin-left:60% ;
margin-top:175% ;
width: 100px;
height:20px;
}
.x2a:hover{
position: absolute;
margin-left:60% ;
margin-top:175% ;
cursor: pointer;
opacity: 0.5;
background-color: black;
}
.x3{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:51% ;
margin-top:194% ;
}
.x3a{
position: absolute;
margin-left:51% ;
margin-top:194% ;
width: 130px;
height:20px;
}
.x3a:hover{
position: absolute;
margin-left:51% ;
margin-top:194% ;
cursor: pointer;
opacity: 0.5;
background-color: black;
}
.x4{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:31% ;
margin-top:199% ;
}
.x4a{
position: absolute;
margin-left:31% ;
margin-top:199% ;
width: 130px;
height:20px;

}
.x4a:hover{
position: absolute;
margin-left:31% ;
margin-top:199% ;
cursor: pointer;
opacity: 0.5;
background-color: black;

}
.x5{
position: absolute;
font-family: 'Poppins', sans-serif;
margin-left:15% ;
margin-top:180% ;
}
.x5a{
position: absolute;
margin-left:15% ;
margin-top:180% ;
width: 130px;
height:20px;

}
.x5a:hover{
position: absolute;
margin-left:15% ;
margin-top:180% ;
cursor: pointer;
opacity: 0.5;
background-color: black;

}

