body {
background-image:url(Kartinki/FON11.jpg);
 
background-size: 100%;


}
.header{
bottom: 80px;
width: 70px;

}
.zagolovok {
padding: 50px 30px 15px 240px;
line-height: 1.8;
font-family: Helvetica;
font-weight: 560;
width: 40%;

}

.text1{
width: 20%;
padding: 0px 30px 15px 240px;
font-size:21pt;	
line-height: 0.25;
color:#808080;
font-weight: 500;
}
.meteorBIG{ 
position: absolute;
padding-left: 1000px;
display:table-cell;
height: 1px;
top:210px;
width: 0px;
}
.text2{
font-family: Helvetica;
padding: 0px 30px 15px 240px;	
line-height: 0.25;		
font-weight: 500;
color:#696969;
font-size: 18pt;
opacity: 0.70;
width: 25%;
}
.meteorSMALL{
height: 0px;
position: absolute;
margin-left: 1410px;
margin-top:-90px;
}
.vkladka1{
position: absolute;
margin-left: 1200px;
top:33px;
font-size: 15px;
}
.vkladka1:hover{
position: absolute;
margin-left: 1200px;
top:33px;
font-size: 15px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}
.vkladka2{ 
position: absolute;
margin-left: 1400px;
top:33px;
font-size: 15px;
color:#696969;	
}
.vkladka2:hover{ 
position: absolute;
margin-left: 1400px;
top:33px;
font-size: 15px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}
.vkladka3{
position: absolute;
margin-left: 1560px;
top:33px;
font-size: 15px;
color:#696969;		
}
.vkladka3:hover{
position: absolute;
margin-left: 1560px;
top:33px;
font-size: 15px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;		
}
.startnow{
position: absolute;
width: 300px;
height: 200px;
}
.fon{
position: absolute;
opacity: 0.15;
height: 35%;
width: 65%;
margin-top: 80px;
margin-left: 240px;

}
.fon:hover{
position: absolute;
opacity: 0.3;
height: 35%;
width: 65%;
margin-top: 80px;
margin-left: 240px;
transition: 0.4s;
background-color: #CD853F;
}
.fontext{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 290px;
margin-top:108px;
width: 110px;
}
.fontext3{ 
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 480px;
margin-top:105px;
}
.fontext3:hover{ 
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 480px;
margin-top:105px;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}
.nasa{
position: absolute;
margin-left: 240px;
margin-top: 350px;
}
.almaz{
position: absolute;
margin-top:830px;
margin-left: 150px;
width: 5%;

}
.wia{
position: absolute;
font-family: Helvetica;
font-weight: 560;
width: 30%;
margin-left: 240px;
margin-top: 830px;

}
.wia1{
font-size:21pt;	
font-family: Helvetica;
font-weight: 500;
margin-left: 240px;
margin-top: 890px;
width: 23%;
position: absolute;
opacity: 0.40;
}
.wia2{
position: absolute;
margin-left:240px;
font-family: Helvetica;	
font-weight: 500;
color:#696969;
font-size: 16pt;
margin-top:1010px;
width: 20%;
opacity: 0.50;
}
.linia{
border:1px double white;
position: absolute;
margin-top:550px;
width: 1365px;
margin-left:300px;
opacity: 0.15;
}
.wia3{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-top:1170px;
margin-left: 240px;
width: 10%;
}
.wia3:hover{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-top:1170px;
margin-left: 240px;
width: 10%;
color:#CD853F;
transition: 0.3s;
opacity: 0.5;
}
.tuman{
position: absolute;
margin-left: 850px;
margin-top:700px;

}
.tuman1{
position: absolute;
margin-left: 800px;
margin-top:730px;
}
.rasvet{
position: absolute;
margin-left: 1200px;
margin-top:1300px;
}	
.boruto{
position: absolute;
font-family: Helvetica;
font-weight: 560;
width: 30%;
margin-left: 300px;
margin-top: 1700px;
}
.boruto11{
font-size:21pt;	
font-family: Helvetica;
font-weight: 500;
width: 450px;
margin-left: 300px;
margin-top: 1820px;
position: absolute;
opacity: 0.70;
}
.boruto3{
position: absolute;
margin-left:300px;
font-family: Helvetica;	
font-weight: 500;
opacity:0.4;
font-size: 16pt;
width: 400px;
margin-top:1920px;

}
.FakeApolo{
position: absolute;
margin-left: 330px;
margin-top:2150px;
width: 160px;
height:70px;
background: #808080;
filter: alpha(opacity=60);
opacity: 0.15;

}
.FakeApolo:hover{
position: absolute;
margin-left: 330px;
margin-top:2150px;
width: 160px;
height:70px;
background: #191970;
filter: alpha(opacity=60);
opacity: 0.3;
transition: 0.3s;
}
.startApolo{
position: absolute;
font-size: 18px;
font-family: Helvetica;
font-weight: 400px;
margin-left: 330px;
margin-top:2150px;
width: 160px;
height:70px;
text-align: center;
vertical-align: center;
line-height: 85px;  
}

.linia2{
border:1px double white;
position: absolute;
margin-top:2333px;
width: 100%;
margin-left:0px;
opacity: 0.15;
}